body, .container {
    /*background-color: #fff0dd !important;*/
    background-color: #fff8fa !important;
}

.articleItem {
    background-color: #fffdff !important;
}

.postTitle {
    font-size: 20px;
}

#main-content {
    width: 70% !important;
}

#go-to-post {
    color: #000 !important;
    text-decoration: none !important;
    font-size: 20px;
}

.breadcrumbs {
    padding-left: 0px !important;
}

#post-image {
    max-height: 400px;
    height: 70%;
    width: auto;
}

.postImage {
    max-height: 120px;
    max-width: 120px;
    height: 70%;
    width: auto;
}
